.myHeader {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.limitcard
{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

table
{
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

i.material-icons
{
    cursor: pointer;
}

.example-spacer
{
    flex: 1 1 auto;
}

a {
    color: white;
    text-decoration: none;
}

span {
    cursor: pointer;
}

.txtSearch {
    width: 400px;
}