<div layout="column" ng-cloak id="mainController" class="mainController">
  <mat-toolbar color="primary" class="myHeader"> 
      <span>תרגיל בית 1 - מכללת סלע - מאת קובי קרסנוב</span>
      <span class="example-spacer"></span>
      <a href="{{baseHref}}api/phonelist/getPhoneListCSV" target="_blank">יצוא קובץ</a>
      &nbsp;&nbsp;&nbsp;
      <span  (click)="fileInput.click()">יבוא קובץ</span>
  </mat-toolbar>
<div>
<div style="text-align:center;padding-top: 1.0em;">
  <mat-card class="limitcard">
    <mat-card-title>{{cardTitle}}</mat-card-title>
    <mat-card-content>
        <mat-form-field style="width: 100%"><input matInput placeholder="First name" autocomplete="off" [(ngModel)]="postData.firstName"></mat-form-field>
        <mat-form-field style="width: 100%"><input matInput placeholder="Last Name" autocomplete="off" [(ngModel)]="postData.lastName"></mat-form-field>
        <mat-form-field style="width: 100%"><input matInput placeholder="Phone" autocomplete="off" [(ngModel)]="postData.phoneNumber"></mat-form-field>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
        <button mat-raised-button color="primary" (click)="onAddPhone()" #button>{{cardButtonTest}}</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="onCancel()" *ngIf="isButtonVisible">Cancel</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <input type="file" #fileInput hidden (change)="onFileChange($event)">
  <mat-form-field class="txtSearch"><input matInput (keyup)="search($event.target.value)" placeholder="Filter" [(ngModel)]="filterstr"></mat-form-field>
  <br>
  <table mat-table [dataSource]="phoneList" class="mat-elevation-z8" #table>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
        <td mat-cell *matCellDef="let element">
            <i class="material-icons" (click)="onEdit(element.id)">
              edit
            </i>
            <i class="material-icons" (click)="onDelete(element.id)">
              delete
            </i>
        </td>
      </ng-container>
    
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- Position Column -->
    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>